

.input-operaciones{
    width: 100%;
    margin: 0;
    height: 90px;
    margin-bottom: 5px;
    padding-right: 2px;
    text-align: right;
    font-size: var(--size-text-result);
    color: var(--color-text);
    overflow-x: auto;
    white-space: nowrap;
}

.input-operaciones::-webkit-scrollbar {
    display: none;
}